%section#intro.copy
  %canvas#physCanvas
  .pulse
    %span.pulse-dot
    -# There should be a "removeRing()" function call on the ring
    %span.pulse-ring 
  .intro__content
    %h1.intro__title
      Hi, I'm
      %span.underline Dan Gould
      ,
    %h2 a Boston based creative developer.
    %h2
      Software is my medium. 
%section#work
  %h2 Recent projects:
  .projects
    .project-card
      %a{href: "https://stratisplatform.com/wallets/", target: "_blank"}
        =image_tag "breeze-wallet.png", class: "m-full-width"
        .project-card__caption
          %h2 Breeze Privacy Protocol
          %p Cryptographic bitcoin anonymiser powered by TumbleBit
    .project-card
      %a{:href => "http://tonygeiger.com", target: "_blank"}
        =image_tag "color-me-gone-phone.jpg", class: "m-full-width"
        .project-card__caption
          %h2 Tony Geiger
          %p Political, physical, and spiritual statements on the human condition
    .project-card
      %a{:href => "http://brookfieldfd.com", target: "_blank"}
        =image_tag "brookfield-fire.jpg", class: "m-full-width"
        .project-card__caption
          %h2 Brookfield Fire
          %p My Eagle Scout service project built exclusively on volunteer time
%section#blog.copy
  %h2 Blog:
  - @blog_previews.each do |preview|
    %article
      = preview.content
      %a{href: "blog/#{preview.name}"} Continue reading &rightarrow;
