%section#intro.copy
  %canvas#physCanvas
  .pulse{:style => "top: 100px; right: 100px;"}
    %span.pulse-dot
    -# There should be a "removeRing()" function call on the ring
    %span.pulse-ring 
  .intro__content
    %h1.intro__title Hi there, Im Danny Gould,
    %h2 a Boston area creative developer.
    %h2 Software is my medium.
%section#work
  %h2 My past work:
  .row
    #www-card.project-card
      =image_tag "whowhatwhen.png"
      .project-card__caption
        %h3 WhoWhatWhen
        %a.site-link{:href => "http://whowhatwhen.co", :target => "_blank"} visit site
        .project-card__description
          %ul.project-card__technologies
            %li JavaScript
            %li Node.js
            %li AngularJS (1.x)
            %li WebSockets
            %li MongoDB
            %li HTML
            %li SCSS
            %li Gulp
            %li Git
            %li Responsive Design
          %p
            This is a responsive web application with a focus on visual organization and swift editing of personal and professional tasks.
            Tasks are organized by user-filtered tags and separated into soveirgn folders that can be collaborated on.
            I focus on modern web development best practices in both front and back end design.
            As the sole developer for this project I look to grow and learn
            while building a maintainable, clear code.
          %p
            %strong Challenges:
            %br/
            This is the most involved project I have worked on to date. The project consists
            of a Node.js app which communicates between concurrent clients and a MongoDB database. The project
            features real-time collaboration facilitated by WebSockets. I am responsible for the development, implementation
            of design, system administration, analytics, and marketing. Performance is one of the greatest focuses in this project to ensure
            high levels of adoption accross devices.
    #tonygeiger-card.project-card
      =image_tag "tonygeiger.jpg"
      .project-card__caption
        %h3 Tony Geiger
        %a.site-link{:href => "http://tonygeiger.com", :target => "_blank"} visit site
        .project-card__description
          %ul.project-card__technologies
            %li HTML
            %li CSS
            %li PHP
            %li Responsive
            %li WordPress
          %p
            This is a simple, budget-oriented, rapidly constructed portfolio website for a unique
            visual artist from New York. It is a good example of a client site
            which the owner can maintain on their own while utilizing my design and
            development skills to adjust an off-the-shelf WordPress theme to their own individual needs.
          %p
            %strong Challenges:
            %br/
            Tony had all of his content and ideas ready before we began development which made the
            process straightforward. All alterations needed to stay mobile-responsive and look good
            on a desktop computer as the original theme did. Large photos needed to be compressed to improve
            performance of the site.
            Tony's preparation of content and clear idea of budget from the outset fostered a successful outcome.
  .row
    #bfd-card.project-card
      =image_tag "brookfieldfd.jpg"
      .project-card__caption
        %h3 Brookfield Fire Department
        %a.site-link{:href => "http://brookfieldfd.com", :target => "_blank"} visit site
        .project-card__description
          %ul.project-card__technologies
            %li HTML
            %li CSS
            %li Responsive
            %li JavaScript
            %li PHP
            %li WordPress
          %p
            This is a responsive WordPress website built to fit the developing needs of my local
            fire department. The chief can now post images and stories as well as other event
            updates on his own without the need for a trained webmaster. The custom theme
            fits the department's aesthetic. The site enables integration of published posts with
            the department's popular Facebook page. It was built exclusively on volunteer hours as my Eagle Scout
            Service project.
          %p
            %strong Challenges:
            %br/
            Because of the nature of the service project, I had to incorporate
            copy, visual, and software comonents created by youth and adult volunteers. This involved
            educating volunteers about web practices and technologies as well as communicating with the town and department to meet their needs.
    #tdc-card.project-card
      =image_tag "trovadesignconsultants.jpg"
      .project-card__caption
        %h3 Trova Design Consultants
        %a.site-link{:href => "http://trovadesign.com", :target => "_blank"} visit site
        .project-card__description
          %ul.project-card__technologies
            %li HTML
            %li CSS
            %li Responsive
            %li JavaScript
            %li PHP
            %li WordPress
          %p
            This is a responsive WordPress website built quickly and inexpensively for a small business in the Berkshires. I was responsible for design, graphics, and development of the site. The site was built to serve the needs of a CAD shop and allow them to update their own content.
          %p
            %strong Challenges:
            %br/
            I was not very familiar with CSS during this project so I struggeled to lay out things centered and create a mobile responsive design. I gained a lot of familiarity with CSS3 through this project and also learned how to alter basic PHP to add functionality like the contact form.
