%section#intro.copy
  %canvas#physCanvas
  .pulse
    %span.pulse-dot
    -# There should be a "removeRing()" function call on the ring
    %span.pulse-ring 
  .intro__content
    %h1.intro__title Hi, I'm Dan Gould,
    %h2 a Boston area creative developer.
    %h2
      Software is my medium. 
%section#work
  %h2 Recent projects:
  .projects
    #www-card.project-card
      %a.site-link{:href => "https://stratisplatform.com/wallets/", :target => "_blank"}
        =image_tag "breeze-wallet.png"
        .project-card__caption
          %h2 Breeze Privacy Protocol
      .project-card__description
        %p
          Anonymous Bitcoin tumbler enabled by
          %a{href: "http://tumblebit.cash"} TumbleBit
    #tonygeiger-card.project-card
      %a.site-link{:href => "http://tonygeiger.com", :target => "_blank"}
        =image_tag "right-flank.jpg"
        .project-card__caption
          %h2 Tony Geiger
      .project-card__description
        %p
          Political, physical, and spiritual statements on the human condition
    #bfd-card.project-card
      %a.site-link{:href => "http://brookfieldfd.com", :target => "_blank"}
        =image_tag "brookfield-fire.jpg"
        .project-card__caption
          %h2 Brookfield Fire
      .project-card__description
        %p
          My Eagle Scout Service Project built exclusively on volunteer time
%section#blog.copy
  - @blog_previews.each do |preview|
    %article
      = preview.content
      %a{href: "blog/#{preview.name}"} Continue Reading
