<div class="container">
	<section class="profile">
		
		<article>
			<div class="heading-col">
				<img src="assets/img/dannygouldportrait.jpg">
				<!-- a href="http://dannygould.com/Daniel%20Gould%20Resume.pdf">Resume</a-->
			</div>
			<div class="content-col">
				<h2>Daniel C. Gould</h2>
				<p>Web Developer / Creative</p>
				<p>
				Daniel Gould attends Boston University where he studies computer science. He has been developing on the web for five years with over a dozen live production sites.
				</p>
				<p>
				He builds and maintains numerous websites for companies, individuals, and nonprofit organizations. Danny also uses his skills to give back to the community. His work includes a <a href="http://brookfieldfd.com">website</a> built as an Eagle Scout service project for the fire department in his home town. Some averaging more than ten-thousand views per month.
				</p>
				<p>
				For the past few months, he has focused on cross-platform app development using JavaScript. He is building a time management application with the MEAN stack.
				</p>
				<!--
				<p>
				He has a focus on clean design and efficiency. His applications are built to be as quick as possible to appeal to the search gods. Responsive, modern design plays a key role
-->
				<p>
				In his spare time he enjoys music, the outdoors, and good company. He has been playing saxophone for half of his life.
				</p>  
			</div>
		</article>
		<article>
			<div class="heading-col">
				<h3>Technical Skills</h3>
			</div>
			<div class="content-col">
				<ul style="float: left; width: 200px;">
					<li>JavaScript</li>
					<li>HTML</li>
					<li>HAML</li>
					<li>CSS</li>
					<li>SCSS</li>
					<li>Python</li>
					<li>C</li>
					<li>PHP</li>
					<li>Java</li>
				</ul>
				<ul style="float: left; width: 200px;">
					<li>Node.js</li>
					<li>AngularJS</li>
					<li>MongoDB</li>
					<li>Adobe Photoshop</li>
					<li>Adobe InDesign</li>
					<li>Adobe Illustrator</li>
				</ul>
			</div>
		</article>	
	</section>
</div>
