<div class="container">
	<section id="work">
		<div class="document">
			<h2 class="tagline">A Boston based creative with a passion to develop and design on the web.</h2>
		</div>
		<div class="projects">
			
			<!--MA Dairy Farmers -->
			<div class="project">
				<a href="http://madairyfarmers.org" target="_blank">
					<div class="hover-effect">
						<img class="project-image" src="assets/img/madairyfarmers.png">
						<div class="project-overlay">
							<h3 class="project-title">MA Dairy Farmers</h3>
						</div>
					</div>
				</a>
			</div>
			<!--TDC-->
			<div class="project">
				<a href="http://trovadesign.com" target="_blank">
					<div class="hover-effect">
						<img class="project-image" src="assets/img/trovadesignconsultants.jpg">
						<div class="project-overlay">
							<h3 class="project-title">Trova Design Consultants</h3>
						</div>
					</div>
				</a>	
			</div>
			<!--Tony Geiger-->
			<div class="project">
				<a href="http://tonygeiger.com" target="_blank">
					<div class="hover-effect">
						<img class="project-image" src="assets/img/tonygeiger.jpg">
						<div class="project-overlay">
							<h3 class="project-title">Tony Geiger</h3>
						</div>
					</div>
				</a>
			</div>
			<!--MNLA Foundation-->
			<div class="project">
				<a href="http://mnlafoundation.org" target="_blank">
					<div class="hover-effect">
						<img class="project-image" src="assets/img/mnlafoundation.png">
						<div class="project-overlay">
							<h3 class="project-title">MNLA Foundation</h3>
						</div>
					</div>
				</a>
			</div>
			<!--Photos by Dan Gould-->
			<div class="project">
				<a href="http://photosbydangould.com" target="_blank">
					<div class="hover-effect">
						<img class="project-image" src="assets/img/photosbydangould.jpg">
						<div class="project-overlay">
							<h3 class="project-title">Photos by Dan Gould</h3>
						</div>
						
					</div>
				</a>
			</div>
			<!--Sally Gould-->
			<div class="project">
				<a href="http://sallygould.com" target="_blank">
					<div class="hover-effect">
						<img class="project-image" src="assets/img/sallygould.jpg">
						<div class="project-overlay">
							<h3 class="project-title">Sally Gould Dance Center</h3>
						</div>
					</div>
				</a>
			</div>
			

		</div>
	</section>
</div>
