<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We got another user. PROGRESS 😪🗽🌟</h1>
    <p>
      <%= @user.email %> signed up
    </p>
    <p>
      1. CHECK IN WITH THEM
      2. GET THEM TO SIGN THE APP
    </p>
    <p>When we wrote this, we were pretty excited. Please excuse the caps. GOod.</p>
  </body>
</html>

