/*
Stylesheet for Daniel Gould
*/

/* color constants
 * bg: #fbfef9
 * black: #171123
 */

* {
	transition: .15s ease-in;
	-webkit-transition: .15s ease-in;
	-moz-transition: .15s ease-in;
	-o-transition: .15s ease-in;
}

*, body {
	margin: 0;
}

html, body {
	font-family: 'League Spartan', Verdana, Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	height: 100%;
}

body {
	color: #171123;
	background-color: #fbfef9;
}

header {
	display: none;
}


#intro {
	min-height: calc(100vh - 80px);
}

#work h1 {
	margin: 0 auto 40px auto;
}

section {
	margin: 0 80px 80px 80px;
}
	
h1,
h2 {
	font-size: 60px;
	margin-top: 8px;
}

.intro__content {
	padding-top: 30vh;
}

/* project cards */


.project-card {
	overflow: hidden;
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.project-card:hover {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75); 
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75); 
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.project-card img {
	width: 100%;
	height: auto;
}

.project-card h3 {
	display: inline;
}

.project-card .site-link {
	float: right;
}

.project-card__caption {
	padding: 8px;
}


@media (min-width: 1200px) {

	.row {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
	}
	.project-card {
		width: calc(50% - 20px);
		margin-bottom: 40px;
	}
}

.contact-card {
	border: solid 8px #fbfef9;
	max-width: 400px;
	margin: 0 auto 20px;
}

a {
	text-decoration: underline;
	color: inherit;
}

a:hover,
.active a {
	color: #372238;
}

/*
footer
*/

code,
pre { background: #eee; color: #ccc;
	border-bottom: 1px solid #d8dee9;
}

code {
	padding: 2px 4px;
	vertical-align: text-bottom;
}

pre {
	padding: 16px;
	box-shadow: 0 1px 1px 1px #ccc;
}

.string {
	color: #333;
}

.bracket {
	color: #ea5f27;
}

.linenum {
	color: #fff;
}

/* tablet / small screen */
@media (max-width: 1080px) {
	h1, h2 {
		font-size: 40px;
	}
}

/* phones */
@media (max-width: 600px) {
	h1, h2 {
		font-size: 32px;
	}
	html, body {
		font-size: 11px;
	}

	.intro__content {
		padding-top: 20vh;
	}
	#intro { 
		min-height: calc(100vh - 20px);
	}	
	section {
		margin: 0 20px 20px 20px;
	}
}




@font-face {
	font-family: 'League Spartan';
	src: url('leaguespartan-bold.eot');
	src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
		url('leaguespartan-bold.woff2') format('woff2'),          
		url('leaguespartan-bold.woff') format('woff'),          
		url('leaguespartan-bold.ttf') format('truetype'),          
		url('leaguespartan-bold.svg#league_spartanbold') format('svg');
	font-weight: bold;
	font-style: normal;
}
