/*
Stylesheet for Daniel Gould
*/

/* color constants
 * bg: #fbfef9
 * black: #171123
 */

$off-white: #f1efe9;
$off-black: #1E1E1E;
$crimson: #cf3f61;

$imperial: #A57FC4;
$royal-purple: #604291;

$blue: #4c9ad4;

$monospace: Menlo,Consolas,Liberation Mono,Courier,monospace;

* {
	transition: .15s ease-in;
	-webkit-transition: .15s ease-in;
	-moz-transition: .15s ease-in;
	-o-transition: .15s ease-in;
}

$base-font-size: 18px;
$line-height: 1.5;

*, body {
  margin: 0;
  margin-bottom: 1rem * $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
	font-family: 'Libre Baskerville', Garamond, Georgia, serif;
	font-size: $base-font-size;
	font-weight: 400;
  line-height: $line-height;
  font-kerning: normal;
}

::selection, ::selection {
    color: $off-white;
    background: $off-black;
}

.highlight {
  border-radius: 1rem;
  line-height: 1;
}

pre {
  padding: 1rem * $line-height;
  font-weight: 700;
  font-family: $monospace;
  font-size: 0.8rem;

  code {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
}

figure {
  overflow-wrap: break-word;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.logo {
  display: inline;
  margin-top: 0;
  margin-bottom: -.2rem;
  width: 2rem;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  margin-bottom: $line-height * 1rem;
}

h1,h2 {
  margin-top: $line-height * 3rem;
}

h3,h4 {
  margin-top: $line-height * 2rem;
}

h5,h6 {
  margin-top: $line-height * 1rem;
}

h1 {
  margin-bottom: 0;
}

time + * {
  margin-top: $line-height * 2rem;
}

header * {
  margin-top: $line-height * 1rem;
}

.underline {
  text-decoration: underline;
}

header {
  font-size: 60px;
  margin: 0 auto;
  max-width: 740px;
}

header a:visited,
header a {
  color: $off-black;
}

header a:hover {
  text-decoration: none;
}

article {
  margin: 0 auto;
  max-width: 740px;

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

figure {
  text-align: center;
}

time {
  color: #777;
}

.content {
  overflow: hidden;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: $line-height * 1rem;
  padding-right: $line-height * 1rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

}

blockquote {
  margin-left: 1rem;
  padding-left: 0.5rem;;
  border-left: 3px solid #ccc;
}

blockquote p {
  hanging-punctuation: -0.5rem;
}

ul, ol {
  padding-left: 0; 
  list-style-position: outside;
}

li {
  margin-bottom: $line-height * 0.4rem;
}


// Set heading size using modular scale
$heading-scale: 1.18;
$mobile-font-size: 16px;

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: $base-font-size * pow($heading-scale, (6 - $i));
  }
}


body {
	color: $off-black;
	background-color: $off-white;
}	

#intro {
	min-height: calc(100vh - 80px);
	position: relative;
}

#intro::selection,
#intro::-moz-selection {
	background-color: rgba(0,0,0,0);
}

.pulse {
	position: absolute;
  top: 40vh;
  right: $line-height * 3rem;
	z-index: 0;
}

.pulse-dot {
	position: relative;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.pulse-ring {
	position: absolute;
	display: block;
	background: 0 0;
	width: 80px;
	height: 80px;
	top: -40px;
	left: -40px;
	border: 10px solid $crimson;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	animation: pulse 1.5s ease-out;
	-webkit-animation: pulse 1.5s ease-out infinite;
	-moz-animation: pulse 1.5s ease-out infinite;
	animation-iteration-count: infinite;
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}

#physCanvas {
	z-index: 1;
	position: absolute;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.intro__content {
	z-index: 2;
	position: absolute;
	pointer-events: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale'); background: none !important;
	padding-top: 30vh;
}

.intro__content h1,
.intro__content h2 {
  font-size: 60px;
  margin: 0;
	display: inline-block;
	text-shadow: 
	 -1px -1px 0 $off-white,
	 1px -1px 0 $off-white,
	 -1px 1px 0 $off-white,
	 1px 1px 0 $off-white;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* project cards */

.projects {
  color: $off-black;

  }
.project-card {
  display: flex;
  height: 70vh;
  margin-bottom: 0;
}


.project-card a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  max-width: 100%;
}

.project-card a:hover {
  text-decoration: none;


  .project-card__caption h2 {
    text-decoration: underline;
  }
}

.project-card img {
  flex: 2 2 0;
  width: 100%;
  height: 100%;
  min-width: 0;
  margin: 0;
    &:hover {
      transform: rotate(1deg);
    }

}

.project-card__caption {
  margin: 0;
  color: $off-black;
  h2 {
    font-size: 1rem;
    margin-top: 0;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    margin-bottom: 0;
  }

  padding-left: $line-height * 3rem;
  flex: 1 1 0;
}

.contact-card {
	border: solid 8px #fbfef9;
	max-width: 540px;
	margin: 0 auto;
}

a {
  color: $blue;
  text-decoration: none;
}

a:visited {
  color: $royal-purple;
}

a:hover,
.active a {
  text-decoration: underline;
  text-decoration-skip: edges;
  -webkit-text-decoration-skip: edges;

}

/*
footer
*/

footer code,
footer pre { background: $off-white; color: #ccc;
	border-bottom: 1px solid #d8dee9;
}

footer code {
	padding: 2px 4px;
	vertical-align: text-bottom;
}

footer pre {
	padding: 16px;
	box-shadow: 0 1px 1px 1px #ccc;
}

.string {
	color: #333;
}

.bracket {
	color: #ea5f27;
}

.linenum {
	color: #fbfef9;
}

/* tablet / small screen */
/* phones */
@media screen and (max-width: 1000px) {
  .content {
    padding-left: $line-height * .5rem;
    padding-right: $line-height * .5rem;
  }
}

@media screen and (max-width: 800px) {
  $mobile-heading-scale: 1.1;
  $mobile-font-size: 16px;

  html, body {
    font-size: $mobile-font-size;
  }

  .project-card {
    display: block;
    height: auto;
  }

  .project-card a {
    display: block;
    img {
      max-width: none;
      margin-top: $line-height * 2rem;
      margin-bottom: $line-height * 1rem;
    }
  }

  // for mobile only!
  .m-full-width {
    max-width: none;
    width: 100vw !important;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
  }
  

  .project-card__caption {
    margin-bottom: $line-height * 1rem;
    padding: 0;
  }

  .project-card__caption h2 {
      font-size: $base-font-size * pow($mobile-heading-scale, (6 - 2));
  }

  .intro__content h1,
  .intro__content h2 {
    font-size: 30px;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: $base-font-size * pow($mobile-heading-scale, (6 - $i));
    }
  }

  .project-card,
  article {
    max-width: 100%;
  }

  ul, ol {
    list-style-position: inside;
  }

	.intro__content {
		padding-top: 20vh;
	}

	#intro { 
		min-height: calc(100vh - 20px);
	}	

  .highlight {
    border-radius: 0;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    box-sizing: border-box;
  }
}


