/*
Stylesheet for Daniel Gould
*/

/* color constants
 * bg: #fbfef9
 * black: #171123
 */

* {
	transition: .15s ease-in;
	-webkit-transition: .15s ease-in;
	-moz-transition: .15s ease-in;
	-o-transition: .15s ease-in;
}

$base-font-size: 1em;


html, body {
	font-family: 'League Spartan', Verdana, Helvetica, Arial, sans-serif;
	font-size: $base-font-size;
	font-weight: 400;
}

*, body {
	margin: 0;
}
// Set heading size using modular scale
$heading-scale: 1.4;
@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: $base-font-size * pow($heading-scale, (6 - $i));
  }
}


body {
	color: #171123;
	background-color: #fbfef9;
}	

#intro {
	min-height: calc(100vh - 80px);
	position: relative;
}

#intro::selection,
#intro::-moz-selection {
	background: rgba(0,0,0,0);
}

.pulse {
	position: absolute;
	z-index: 0;
}

.pulse-dot {
	position: relative;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 5px solid rgba(103,120,193,.81);
	background-color: rgba(114,116,191,.42);
}

.pulse-ring {
	position: absolute;
	display: block;
	background: 0 0;
	width: 64px;
	height: 64px;
	border: 10px solid rgba(114,117,191,.38);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	animation: pulse 3s ease-out;
	-webkit-animation: pulse 3s ease-out infinite;
	-moz-animation: pulse 3s ease-out infinite;
	animation-iteration-count: infinite;
	top: -32px;
	left: -32px;
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}

section {
	margin: 0 80px 80px 80px;
}

#physCanvas {
	z-index: 1;
	position: absolute;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.intro__content {
	z-index: 2;
	position: absolute;
	pointer-events: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale'); background: none !important;
	padding-top: 30vh;
}

.intro__content h1,
.intro__content h2 {
	display: inline-block;
	text-shadow: 
	 -1px -1px 0 #fbfef9,
	 1px -1px 0 #fbfef9,
	 -1px 1px 0 #fbfef9,
	 1px 1px 0 #fbfef9;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* project cards */


.project-card {
	position: relative;
	overflow: hidden;
	max-width: 700px;
	margin: 0 auto 40px auto;
	cursor: zoom-in;
}

.project-card:hover {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75); 
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75); 
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.project-card--expanded {
	opacity: 1.0 !important;
	max-width: 100%;
	width: 700px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: #fbfef9;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75); 
	-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75); 
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}

.project-card--expanded .project-card__description {
	height: initial;
}


.project-card img {
	width: 100%;
	height: auto;
}

.project-card h3 {
	display: inline;
}

.project-card .site-link {
	font-family: monospace;
	float: right;
}

.project-card__description {
	height: 0;
	overflow: hidden;
}

.project-card__description p {
	margin: 0 10px 10px 10px;
}

.project-card__caption {
	padding: 8px;
}

.project-card__technologies {
	margin: 20px 0 20px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.project-card__technologies li {
	list-style-type: none;
	background: #995ec9;
	color: #fbfef9;
	border-radius: 4px;
	padding: 4px 8px 4px 8px;
	margin: 4px
}

.cancel {
   background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiNmYWxzZSIgPiAgICA8cGF0aCBkPSJNMjUsM0MxMi44NjksMywzLDEyLjg2OSwzLDI1czkuODY5LDIyLDIyLDIyczIyLTkuODY5LDIyLTIyUzM3LjEzMSwzLDI1LDN6IE0zNC4yMDcsMzIuNzkzCWMwLjM5MSwwLjM5MSwwLjM5MSwxLjAyMywwLDEuNDE0QzM0LjAxMiwzNC40MDIsMzMuNzU2LDM0LjUsMzMuNSwzNC41cy0wLjUxMi0wLjA5OC0wLjcwNy0wLjI5M0wyNSwyNi40MTRsLTcuNzkzLDcuNzkzCUMxNy4wMTIsMzQuNDAyLDE2Ljc1NiwzNC41LDE2LjUsMzQuNXMtMC41MTItMC4wOTgtMC43MDctMC4yOTNjLTAuMzkxLTAuMzkxLTAuMzkxLTEuMDIzLDAtMS40MTRMMjMuNTg2LDI1bC03Ljc5My03Ljc5MwljLTAuMzkxLTAuMzkxLTAuMzkxLTEuMDIzLDAtMS40MTRzMS4wMjMtMC4zOTEsMS40MTQsMEwyNSwyMy41ODZsNy43OTMtNy43OTNjMC4zOTEtMC4zOTEsMS4wMjMtMC4zOTEsMS40MTQsMHMwLjM5MSwxLjAyMywwLDEuNDE0CUwyNi40MTQsMjVMMzQuMjA3LDMyLjc5M3oiPjwvcGF0aD48L3N2Zz4=') 50% 50% no-repeat;
   background-size: 100%;   
   border-radius: 25px;
   width: 50px;
   height: 50px;
   position: absolute;
   top: 10px;
   right: 10px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75); 
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75); 
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.cancel:hover { 
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75); 
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75); 
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

@media (min-width: 1200px) {

	.row {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
	}

	.project-card {
		max-width: calc(50% - 10px);
	}

	.project-card-wrap {
		width: calc(50% - 20px);
		margin-bottom: 40px;
	}
}

.contact-card {
	border: solid 8px #fbfef9;
	max-width: 540px;
	margin: 0 auto;
}

a {
	text-decoration: underline;
}

a:hover,
.active a {
	color: #372238;
}

/*
footer
*/

footer code,
footer pre { background: #eee; color: #ccc;
	border-bottom: 1px solid #d8dee9;
}

footer code {
	padding: 2px 4px;
	vertical-align: text-bottom;
}

footer pre {
	padding: 16px;
	box-shadow: 0 1px 1px 1px #ccc;
}

.string {
	color: #333;
}

.bracket {
	color: #ea5f27;
}

.linenum {
	color: #fbfef9;
}

/* tablet / small screen */
@media (max-width: 1080px) {
}

/* phones */
@media (max-width: 600px) {
  html {
    font-size: 8pt;
  }
  
	.intro__content {
		padding-top: 20vh;
	}

	#intro { 
		min-height: calc(100vh - 20px);
	}	

	.contact-card {
		-webkit-margin-bottom-collapse: separate;
		margin-bottom: 40px;
	}

	section {
		margin: 0 20px 20px 20px;
	}
}

@font-face {
	font-family: 'League Spartan';
	src:font-url('leaguespartan-bold.eot');
	src:font-url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
		font-url('leaguespartan-bold.woff2') format('woff2'),          
		font-url('leaguespartan-bold.woff') format('woff'),          
		font-url('leaguespartan-bold.ttf') format('truetype'),          
		font-url('leaguespartan-bold.svg#league_spartanbold') format('svg');
	font-weight: bold;
	font-style: normal;
}
