$off-white: #fff;
$off-black: #020202;

$royal-purple: #7155A4;
$blue: #4c9ad4;

$monospace: Menlo, Consolas, Liberation Mono, Courier, monospace;
$body-font: 'Inter', Helvetica, Arial, sans-serif;
$heading-font: 'Oswald', Impact, 'Franklin Gothic Bold', sans-serif;

$base-font-size: 20px;
$line-height: 1.1;

*, body {
  margin: 0;
  margin-bottom: .8rem * $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-family: $body-font;
	font-size: $base-font-size;
	font-weight: 400;
  line-height: $line-height;
  font-kerning: normal;
  overflow-x: hidden;
}

@mixin full-width-bar {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
}

.intro {
  @include full-width-bar;
  background: $royal-purple;
  color: $off-white;
}

.intro__content {
  padding-top: 1rem;
  font-weight: 400;
  max-width: 100vw;

  h2 {
    margin-top: 1rem;
  }
}

.intro__title {
  font-family: $body-font; 
  font-size: 3rem;
}

.copy {
  margin-top: 6rem;
  display: flex; 
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  h3, p {
    margin-top: 0;
    flex: 1 1 0px;
  }
}

.subscribe {
  margin-top: 6rem;
  text-align: center;
  input[type="email"] {
    width: 35vw;
    -webkit-appearance: none;
  }
  input {
    display: inline-block;
  }
}


//
// Base styles // bootstratp 4 alerts
//

.alert-notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert {
  margin-top: 1rem;
  position: relative;
  padding: .5rem .5rem;
  border:  2px solid transparent;
  border-radius: 3px; 
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: .5rem;

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem .5rem;
    color: inherit;
  }
}

.alert-success, input[type="submit"] {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

// form
input, label {
  display: block;
  font-size: 1rem;
}

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  border-radius: 3px;
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1rem;
}

input {
  height: auto !important;
}

img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $heading-font;
  font-weight: 400;
  line-height: $line-height * 1.2;
  margin-bottom: $line-height * 1rem;
}

h1,h2 {
  margin-top: $line-height * 3rem;
}

h3,h4 {
  margin-top: $line-height * 2rem;
}

h5,h6 {
  margin-top: $line-height * 1rem;
}

h1 {
  margin-bottom: 0;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: $line-height * 1rem;
  padding-right: $line-height * 1rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

}

ul, ol {
  padding-left: 0; 
  list-style-position: outside;
}

li {
  margin-bottom: $line-height * 0.4rem;
}

// Set heading size using modular scale
$heading-scale: 1.6;
$mobile-font-size: 16px;

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: $base-font-size * pow($heading-scale, (6 - $i));
  }
}


body {
	color: $off-black;
	background-color: $off-white;
}	

section { 
  margin-bottom: $line-height * 2rem;
}	

a {
  color: inherit;
  text-decoration-skip: edges;
  -webkit-text-decoration-skip: edges;
}

a:hover {
  text-decoration: none;

}

/* tablet / small screen */
/* phones */
@media screen and (max-width: 1000px) {
  .content {
    padding-left: $line-height * .5rem;
    padding-right: $line-height * .5rem;
  }

  .copy {
    display: block;
  }
}



@media screen and (max-width: 800px) {
  $mobile-heading-scale: 1.3;
  $mobile-font-size: 16px;

  html, body {
    font-size: $mobile-font-size;
  }

  .subscribe input[type="email"] {
      width: 65vw;
  }

  // for mobile only!
  .m-full-width {
    max-width: none;
    width: 100vw !important;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
  }
  
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: $base-font-size * pow($mobile-heading-scale, (6 - $i));
    }
  }

  ul, ol {
    list-style-position: inside;
  }
}

/* Fonts! */
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.10") format("woff2"),
       url("https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.10") format("woff");
}

/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v26/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYySUhiCXAA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
