$off-white: #fff;
$off-black: #020202;

$royal-purple: #5344f4;
$chaincase-orange: #f08c34;

$body-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$heading-font: univia-pro, Impact, 'Franklin Gothic Bold', sans-serif;

$base-font-size: 22px;
$line-height: 1.1;

*, body {
  margin: 0;
  margin-bottom: .8rem * $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-family: $body-font;
	font-size: $base-font-size;
	font-weight: 400;
  line-height: $line-height;
  font-kerning: normal;
  overflow-x: hidden;
}

@mixin full-width-bar {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0 9999rem;
}

.intro {
  @include full-width-bar;
  background: $royal-purple;
  color: $off-white;
  overflow: auto;
  padding-bottom: $line-height * 3rem;
  box-sizing: border-box;
  height: 100vh;
}

$badge-scale: 2.6;
.intro__content {
  font-weight: 400;
  max-width: 100vw;

  h2 {
    margin-top: 1rem;
    position: relative;
    top: $line-height * 2rem;
  }

  .app-store-badge {
     margin-top: $line-height * 4rem;
     img {
       height: $base-font-size * $badge-scale;
     }
  }

  p {
    position: absolute;
    bottom: $line-height * 3rem;
  }
}

.intro__title {
  margin-top: 3.3rem;

  * {
    display: inline;
    font-family: $heading-font; 
  }

  img {
    display: inline-block;
    height: 2.2rem;
    padding-bottom: .1rem;
    margin-right: .4rem;
    vertical-align: middle;
  }
}

.copy {
  margin-top: $line-height * 6rem;
  display: flex; 
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  h3, p {
    margin-top: 0;
    flex: 1 1 0px;
  }
}

.royal-purple {
  color: $royal-purple;
}

.privacy-policy {
  opacity: 0.6;
}

.subscribe {
  margin-top: 6rem;
  input[type="email"] {
    width: 35vw;
  }
  input {
    display: block;
  }
}


//
// Base styles // bootstratp 4 alerts
//

.alert-notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert {
  margin-top: 1rem;
  position: relative;
  padding: .5rem .5rem;
  border:  2px solid transparent;
  border-radius: 3px; 
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: .5rem;

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem .5rem;
    color: inherit;
  }
}

.alert-success,
input[type="submit"] {
  color: $off-white;
  background-color: $royal-purple;
  border-color: $off-white;
  transition:all 0.3s ease;
}

input[type="submit"] {
  cursor: pointer;
}

input:hover {
  color: $royal-purple;
  background-color: $off-white;
  border-color: $chaincase-orange;
}

// form
input, label {
  display: block;
  font-size: 1rem;
}

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  border-radius: 3px;
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1rem;
}

input {
  height: auto !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// style the anti-bot input
.emailoctopus-form-row-hp {
    position: absolute;
    left: -5000px;
}

.grecaptcha-badge {
    display: none !important;
}


img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $heading-font;
  font-weight: 600;
  line-height: $line-height * 1.2;
  margin-bottom: $line-height * 1rem;
}

h1,h2 {
  margin-top: $line-height * 3rem;
}

h3,h4 {
  margin-top: $line-height * 2rem;
}

h5,h6 {
  margin-top: $line-height * 1rem;
}

h1 {
  margin-bottom: 0;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: $line-height * 1rem;
  padding-right: $line-height * 1rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

}

ul, ol {
  padding-left: 0; 
  list-style-position: outside;
}

li {
  margin-bottom: $line-height * 0.4rem;
}

// Set heading size using modular scale
$heading-scale: 1.44;
$mobile-font-size: 16px;

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: $base-font-size * pow($heading-scale, (6 - $i));
  }
}

h1 {
  /* same size as h4 */
  font-size: $base-font-size * pow($heading-scale, 2);
}


body {
	color: $off-black;
	background-color: $off-white;
}	

section { 
  margin-top: $line-height * 2rem;
  margin-bottom: $line-height * 2rem;
}	

a {
  color: inherit;
  text-decoration-skip: edges;
  -webkit-text-decoration-skip: edges;
}

a, input {
  transition:all 0.3s ease;
}

a:hover {
  text-decoration: none;

}

/* tablet / small screen */
/* phones */
@media screen and (max-width: 1000px) {
  .content {
    padding-left: $line-height * .5rem;
    padding-right: $line-height * .5rem;
  }

  .copy {
    display: block;
  }
}



@media screen and (max-width: 800px) {
  $mobile-heading-scale: 1.1;
  $mobile-font-size: 16px;

  html, body {
    font-size: $mobile-font-size;
  }

  .subscribe input[type="email"] {
      width: 65vw;
  }

  // for mobile only!
  .m-full-width {
    max-width: none;
    width: 100vw !important;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
  }
  
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: $base-font-size * pow($mobile-heading-scale, (6 - $i));
    }
  }

  h1 {
    /* same size as h4 */
    font-size: $base-font-size * pow($mobile-heading-scale, 2);
  }

  .intro__title img {
    padding-bottom: .6rem;
  }

  .intro__content .app-store-badge img {
    height: $mobile-font-size * $badge-scale;
  }

  ul, ol {
    list-style-position: inside;
  }
}

