%footer#contact.copy
  <pre class="contact-card"><span class="linenum">0</span>  <span class="string">"contact"</span> <span class="bracket">{</span>
  <span class="linenum">1</span>    <span class="string">"email"</span> : <span class="string">"<a href="mailto:dan@dannygould.com">dan@dannygould.com</a>"</span>,
  <span class="linenum">2</span>    <span class="string">"github"</span> : <span class="string">"<a href="http://github.com/dangould" target="_blank">github.com/dangould</a>"</span>,
  <span class="linenum">3</span>    <span class="string">"phone"</span> : <span class="string">"+1 (508) 296-8090"</span>
  <span class="linenum">4</span>    <span class="string">"you should"</span> : <span class="string">"say 'hi'"</span>
  <span class="linenum">5</span>  <span class="bracket">}</span>
  </pre>
  
