%section.copy
  %p.intro__details.intro__content-bottom
    Join the #{link_to "Telegram Community", "https://t.me/chaincase", target: :_blank}, follow us on #{link_to "Twitter", "https://twitter.com/chaincaseapp", target: :_blank}, and contribute on #{link_to "GitHub", "https://github.com/chaincase-app/Chaincase", target: :_blank}

